<!DOCTYPE html>
<html>
    <head>
        <style>
            .top-buffer { margin-top:20px; }
        </style>

        <title>Link Aggregator</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <meta charset="utf-8">
    </head>

    <body data-ng-app="root">
      <div class="container top-buffer">
      <div class="header clearfix" style="margin: 0 10%;">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#/">Home</a></li>
            <li role="presentation"><a href="#list">Links</a></li>
            <li ng-controller="redirector" role="presentation"><a href ng-click="randomLink();" target="_blank">SURPRISE ME!!</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Links</h3>
        <hr>
      </div>
      </div>

    
   <div class="" style="margin: 0 15%;" data-ng-view></div>

        <script>
            var app = angular.module("root", ["ngRoute"]);
            app.config(["$routeProvider", function($routeProvider) {
                    $routeProvider
                        .when("/", {
                            templateUrl : "../static/main.html",
                            controller  : "redirector"
                            })
                        .when("/list", {
                            templateUrl : "../static/list.html",
                            controller  : "content"
                            });
                    }]);
            app.controller("redirector", function($scope, $window, $http) {
					$scope.random_url = "";
					$scope.randomLink = function() {
					            $scope.random_url = "";
					            $http.get("/random")
					                .then(function(response) {
					                    $scope.random_url = response.data["link"];
					                    $window.open($scope.random_url);
					                });
					};
            });
            app.controller("content", function($scope, $window, $http) {
                    $scope.links = {};
					$scope.page = 0;
					$scope.new_title = "";
					$scope.random_url = "";
					$scope.randomLink = function() {
					            $scope.random_url = "";
					            $http.get("/random")
					                .then(function(response) {
					                    $scope.random_url = response.data["link"];
					                });
					            $window.open($scope.random_url);
					};
					$scope.removeLink = function(id) {
					            delete $scope.links[id];
					            $http.get("/del/" + id)
					                .then(function(response) {
					                    console.log("removeLink:" + response.data);
					                });
					};
					$scope.get_next_page = function() {
					    $scope.page += 1;
					    count = 0;
					    $http.get("/url?page=" + $scope.page)
                        	.then(function(response) {
                            	tmp_links = response.data;
                            	for (var prop in tmp_links) {
                            	    count += 1;
                            	    break;
                            	}
                            	if (count != 0) {
                                    $scope.links = $.extend($scope.links,
                                    tmp_links);
                                    count = 0;
                            	} else {
                            	    $scope.page -= 1;
                            	    $("#warning_links").show();
                            	}
                        	});
					};
					$scope.submit_data = function(id, t) {
                        if (t != "") { 
                            $scope.links[id][1] = t;
                            $scope.new_title = "";
                            $http.get("/update/" + id + "?title=" + t)
                                .then(function(response) {
                                    console.log("removeLink:" + response.data);
                                });
                        }
                    };

                    $scope.get_next_page();
                    });
        </script>
    </body>
</html>
